@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-shiver: shiver 0.1s infinite;

  @keyframes shiver {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(2px, 2px) rotate(2deg); }
    50% { transform: translate(-2px, -2px) rotate(-2deg); }
    75% { transform: translate(1px, -1px) rotate(1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
